<div class="col-md-1">
  <a href="/"><h4>Home</h4></a>
</div>

<div class="col-md-2">
  <div class="social-icon-list">
    {% if site.twitter_user %}
    <a href="https://twitter.com/aribajahan"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    {% endif %}

    {% if site.github_user %}
    <a href="https://github.com/aribajahan"><img src="/images/glyphicons_social_21_github.png"/></a>
    {% endif %}

    % if site.linkedin_user %}
    <a title="LinkedIn" href="https://linkedin.com/in/aribajahan"><img src="/images/glyphicons_social_17_linked_in.png"/></a>
    {% endif %}

    {% if site.email %}
    <a href="mailto:ariba.jahan@gmail.com"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
    {% endif %}
  </div>
</div>

{% include end_footer.html %}

