<div id="about-me" class="col-md-offset-3 col-md-6">
  <h4>about me</h4>
  <p>My world right now: Python, exploring APIs, product development, creating keto recipes & staying healthy. 
    <br><br/>
    There's so much to read and learn in this lifetime. Making lists are not helping. So, I'm holding myself accountable to these GOALS: 
        <li>Do 2 projects a month. That is exactly how this blog came to be! This was a weekend project in April 2014.</li>
        <li>Reading about 2 books/ month. Plan on sharing my list and learnings here.</li>
        <li>Blog on a regular basis to share what I'm learning and doing.</li>
<p></p>
  <p>I mainly think about food. But, I'll try my best to share my other fascinations. No promises.</p>
  
  </p>What I try to live by: Fear Less. Test Often. Learn Always.</p>






  <div class="social-icon-list">
    <a title="Twitter" href="https://twitter.com/aribajahan"><img src="/images/glyphicons_social_31_twitter.png"/></a>
   
    <a title="GitHub" href="https://github.com/aribajahan"><img src="/images/glyphicons_social_21_github.png"/></a>
   
    <a title="LinkedIn" href="https://linkedin.com/in/aribajahan"><img src="/images/glyphicons_social_17_linked_in.png"/></a>
   
    <a title="E-Mail" href="mailto:ariba.jahan@gmail.com"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
    
  </div>
</div>
